---
import "../styles/global.scss";
---

<form action="#" class="form">
  <div class="u-margin-bottom-medium">
    <h2 class="heading-secondary">Start booking now</h2>
  </div>

  <div class="form__group">
    <input
      type="text"
      placeholder="Full Name"
      required
      class="form__input"
      id="name"
    />
    <label for="name" class="form__label">Full Name</label>
  </div>

  <div class="form__group">
    <input
      type="email"
      placeholder="Email"
      required
      class="form__input"
      id="email"
    />
    <label for="email" class="form__label">Email</label>
  </div>
</form>
